
*{
    margin: 7px;
    padding: 0px;
}

body{
    background: rgba(0, 0, 0, 0.7) url('food1.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: rgb(238, 255, 1);
    margin-left: 10px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    color: #ff1f1f;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffea00;
    font-size: large;
    padding: 4px;
    transition: 3s;

}

.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,
    0 3px 50px orangered inset,0 3px 50px orangered inset;
}

.navbar .reservation{
    padding: 8px;
    background-color: rgb(255, 0, 0);
}

.circle-image {
    width: 170px;
    height: 150px;
    border-radius: 50%; /* to make it circular */
    overflow: hidden; /* to ensure the image stays within the circle */
    margin-left: auto; /* adjust as needed */
    margin-right: auto; /* adjust as needed */
}

.content{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30%;
}

.content h3{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;
}

.content h1{
    font-size: 50px;
}

.content p{
    text-align: center;
    margin-top: 17px;
}

.submit {
    margin-top: 10px; /* Reduced margin to bring button closer */
}

.submit a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc400;
    color: #7e0101;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit a:hover {
    background-color: #974f07;
}
